#bottom_pop{
    width: 100%;
    margin: auto;
    position: fixed;
    top: 91%;
    background-color: white;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-top: 2px solid gray;
    z-index: 1000;
}
#stay_mail{
    width: 80%;
    position: fixed;
}

@media screen and (max-width:1024px) {
    #bottom_pop{
        width: 100%;
        margin: auto;
        position: sticky;
    }

}

@media screen and (max-width:650px) {
    #bottom_pop{
        width: 100%;
        margin: auto;
        position: sticky;
    }
    /* #stay_mail{
        width: 80%;
        position: sticky;
    } */
}