#bottom_pop{
    width: 100%;
    margin: auto;
    position: fixed;
    top: 91%;
    background-color: white;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-top: 2px solid gray;
    z-index: 1000;
}